@font-face {
  font-family: Fonti;
  src: url(lib/zector/Zector.otf);
}

html,body{
  /*background-color: #000;*/
  /*font-family: GillSans, sans-serif;*/
  font-family: Fonti,sans-serif;
  margin: 0;
  padding: 0;
  border:0;
  width:100vw;
  height: auto;
  overflow: hidden;
  /*overflow-x: hidden;*/
  z-index: -4;
  /*position: fixed;*/
  animation-name: vilagosit;
  animation-duration: 12s;
}

canvas{
	position: fixed;
	z-index: 2;
	
}
#mobilka{
	display: flex;
	top: 20vw;
	position: fixed;
	width: 100%;
	left: 35vw;
	/*margin-right: auto;
	margin-left: auto;*/
	/*height: auto;*/
	z-index: -2;
}

body{
  margin: 0;
  padding: 0;
  border:0;
  position: relative;
  width:100vw;
  height: 100vh;
}


#hatter1{
	background-color: #fff;
	position: fixed;
	top:0;
	width:100vw;
	height:9vh;
	z-index: 3;
	/*animation-name: vilagosit;
  	animation-duration: 12s;*/
}
#hatter2{
	background-color: #fff;
	position: fixed;
	bottom:0;
	width:100vw;
	height:55vh;
	z-index: 3;
	/*animation-name: vilagosit;
  	animation-duration: 12s;*/
}
.menusor{
  position: fixed;
  font-size: 1.5em;
  width:100vw;
  bottom:15vh;
  z-index: 4;
  display:block;
  justify-content:center;
  align-items:center;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  text-transform: capitalize;
  /*background-color: rgba(255,255,255,0.2);*/
  text-transform: uppercase;
}
 .row:after {
    content: "";
    display: table;
    clear: both;
  }



.koz{
	padding:0;
}
tr{
 text-align: center;
    vertical-align: center;	
}
td{
    /*cursor:pointer;*/
	padding:2px;
}
.ikonn{
  z-index: 3;
  width: 1vw;
  /*background-color: white;*/
}
.ikonn:hover{
  transform: rotateY(180deg);
  /*animation-name: tukor;*/
  animation-duration: 4s;
  /*background-color: white;*/
  /*animation-iteration-count:infinite;*/
  /*transform: rotateY(180deg);*/

}
@keyframes tukor{
  
 
  100% {}
  /*100% {transform: rotateY(-180deg);}*/
}
#imdb{
  height:1.5vh;
  width: auto;
}
.ikon_s{
  display: inline;
  padding-left: 2vw;
  position: fixed;
  bottom:1vh;
  list-style-type: none;
  width:4vw;
  justify-content:center;
  align-content:flex-end;
  padding: auto;
  z-index: 3;
  /*padding-right:3vw; */
}
.szeles{
  transition: transform 3s;
  cursor:pointer;
}

.szeles:hover {
  letter-spacing: .5em;
  -webkit-transition: letter-spacing .6s ease;
  transition: letter-spacing .6s ease;
  color: grey;
  /*transform: scaleX(1.4);*/
  /*transform: rotate(180deg);*/

  /*color: yellow;*/
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
  color:grey;
}


@keyframes vilagosit {
    0%   {background-color:black;}
    25%   {background-color:black;}
    50%   {background-color:black;}

    100% {background-color:white;}
}
/**{
  animation-name: vilagosit;
  animation-duration: 12s;
}*/
@media screen and (min-width: 3111px){
	body{
	  width:100vw;
	  height:100vh;
		/*width:60vw;*/
	  position: relative;
	  z-index: -4;
	}    

  	canvas{
		position: fixed;
		/*z-index: -2;*/
		width: 100vw;
		height: 100vh;
	}
}
@media screen and (min-width: 2560px) and (min-height: 1440px){
/*	*{
	  animation-name: vilagosit;
  	  animation-duration: 12s;

	}*/
	html, body {
	  overflow-x: hidden;
	  z-index: -4;

	}
	.menusor{
      font-size: 1.5em;
      /*color:blue;*/
      z-index: 4;
	}

	body {
	  width:100vw;
	  height:100vh;
		/*width:60vw;*/
	  position: relative;
	  z-index: -4;
	}

	canvas{
		position: fixed;
		/*z-index: -2;*/
		width: 100vw;
		height: 100vh;
	}

}
@media only screen and (max-width: 1300px) and (max-height: 1480px)  {
/*	*{
	  animation-name: vilagosit;
  	  animation-duration: 8s;
	  z-index: -4;

	}*/
	html, body {
	  overflow-x: hidden;

	}
	body {
	  width:90vw;
	  height:90vh;
		/*width:60vw;*/
	  position: relative;
	  z-index: -4;

	}
	.menusor{
		z-index: 4;
	}
    iframe{
    	position: fixed;
    	/*z-index: 2;*/
    	/*display: flex;*/
    	/*top:20vh;*/
    	/*margin-right: 10vw;*/
    	width:110vw;
    	height:110vh;
    	padding:auto; 
    	margin:auto;
    	/*margin-left: -20vw;*/
    	z-index: -1;
    	/*padding: auto;*/
    	/*bottom:25vh;*/
    	/*width:80vw;*/
    	/*background-color: red;*/
    	/*height:80vh;*/
    }
   	  canvas{
		position: fixed;
		/*z-index: -2;*/
		width: 100vw;
		height: 100vh;
	}


}  

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
 /* html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }*/
  #mobilka{
		display: inline-flex;
		position: fixed;
		width: 100vw;
		left: 0;
		/*height: auto;*/
		z-index: -2;
	}
  canvas{
		position: fixed;
		z-index: -2;
		width: 100vw;
		height: 100vh;
	}
}
@media only screen and (max-width: 768px) and (max-height: 1024px) {
	html, body {
	  overflow-x: hidden;

	}
	body {
	  width:90vw;
	  height:90vh;
		/*width:60vw;*/
	  position: relative;
	  z-index: -4;

	}
	.menusor{
		z-index: 4;
	}

 	  canvas{
		position: fixed;
		/*z-index: -2;*/
		width: 100vw;
		height: 100vh;
	}

}
@media only screen and (max-width: 600px) {
	body{
		/*display:flex;*/
		/*background-color:blue;*/
		/*z-index: -4;*/
		/*width:100vw;*/
		/*height:100vh;
		overflow-x: hidden;
		overflow-y: hidden;*/

	}
  #mobilka{
		display: inline-flex;
		position: fixed;
		top: 20vw;
		left: 0;
		width: 100vw;
		/*height: auto;*/
		z-index: -2;
	}
	html, body {
	  overflow-x: hidden;
	}
	body {
	  width:100vw;
	  position: relative;
	  z-index: -4;
	}
	#minden{
		/*position: fixed;*/
	}
	.menusor{
		font-size: 1em;
		position: fixed;
		bottom:14vh;
		z-index: 4;
	}
	.menusor2{
		font-size: 1em;
		bottom:12vh;
	}
	.ikonn{
		width:3vw;
		height: auto;
	}

	  canvas{
		position: fixed;
		z-index: -2;
		width: 100vw;
		height: 100vh;
	}


    }